body {
  background: #001;
  color: #FFFAFA;
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
}
@media (max-width: 360px) {
  body body {
    font-size: 12px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background: #001;
}

.menu {
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  /* background: red; */
  display: block;
  padding: 15px 15px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* text-align: center; */
}

.menu li {
  list-style: none;
  text-decoration: none;
}

a {
  color: #FFFAFA;
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: underline #FFFAFA solid 3px;
          text-decoration: underline #FFFAFA solid 3px;
}

.title,
.subitle {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: "Merienda One", cursive;
  font-size: 2.5em;
}

.subitle {
  font-style: italic;
  font-family: "Source Code Pro", monospace;
}

.content {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

span:hover {
  font-weight: bold;
  -webkit-text-decoration: underline #FFFAFA solid 3px;
          text-decoration: underline #FFFAFA solid 3px;
}