img {
  max-width: 100%;
  display: block;
}

body {
  background: #001;
  color: #FFFAFA;
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
}
@media (max-width: 360px) {
  body body {
    font-size: 12px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  background: #001;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 10px 10px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* text-align: center; */
}

.menu li {
  list-style: none;
  text-decoration: none;
}

a {
  color: #FFFAFA;
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: underline #FFFAFA solid 3px;
          text-decoration: underline #FFFAFA solid 3px;
}

.title,
.subtitle {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: "Merienda One", cursive;
  font-size: 2.5em;
}

.subtitle {
  font-style: italic;
  font-family: "Source Code Pro", monospace;
  border-right: 2px solid #FFFAFA;
  -webkit-animation: blink 600ms steps(40) infinite normal, typing 4s steps(40) 1s normal;
          animation: blink 600ms steps(40) infinite normal, typing 4s steps(40) 1s normal;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17em;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17em;
  }
}
@-webkit-keyframes blink {
  from {
    border-right-color: #FFFAFA;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes blink {
  from {
    border-right-color: #FFFAFA;
  }
  to {
    border-right-color: transparent;
  }
}
.content {
  margin: 0 auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span:hover {
  font-weight: bold;
  -webkit-text-decoration: underline #FFFAFA solid 3px;
          text-decoration: underline #FFFAFA solid 3px;
}

.sobre {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.painel-port {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}