// FONTES
$font-texto: 'Azeret Mono', monospace;

// CORES
$background: #001;
$font-color: #FFFAFA;

// TIPOGRAFIA
@mixin tipo-texto ($size) {
    font-family: 'Azeret Mono', monospace;
    @if $size == 1{
        font-size: 14px;
    }
    @else if $size == 2{
        font-size: 18px;
    }
    @else if $size == 3{
        font-size: 24px;
    }
}

@mixin tipo-title ($size) {
    font-family: 'Merienda One', cursive;
    @if $size == 1{
        font-size: 2.5em;
    }
}

@mixin tipo-sub ($size) {
    @if $size == 1{
        font-style: italic;
        font-family: 'Source Code Pro', monospace;
    }

}
// GERAL & HEADER
img{
    max-width: 100%;
    display: block;
}
body{
    background: $background;
    color: $font-color;
    @include tipo-texto(2);

    @media (max-width: 360px) {
        body{
            font-size: 12px;
        }
    }
}

header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.menu{
    background: $background;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a{
    display: block;
    padding: 10px 10px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}

.menu li{
    list-style: none;
    text-decoration: none; 
}

a{
    color: $font-color;
    text-decoration: none;
}
a:hover{
    text-decoration: underline $font-color solid 3px; 
}

.title,
.subtitle{
    text-align: center;
    justify-content: center;
}
.title{
    @include tipo-title(1);
}

.subtitle{
    @include tipo-sub(1);
    border-right: 2px solid $font-color;
    animation: blink 600ms steps(40) infinite normal, typing 4s steps(40) 1s normal;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 17em;
    }
}
@keyframes blink {
    from{
        border-right-color: $font-color;
    }    
    to{
        border-right-color: transparent;
    }
}
// CONTEUDO

.content{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}
span:hover{
    font-weight: bold;
    text-decoration: underline #FFFAFA solid 3px;
}
.sobre{
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.portfolio{
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.painel-port{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

// .contato{
//     position: relative;
//     height: 100vh;
//     justify-content: center;
//     align-items: center;
// }

