// FONTES
$font-texto: 'Azeret Mono', monospace;

// CORES
$background: #001;
$font-color: #FFFAFA;

// TIPOGRAFIA
@mixin tipo-texto ($size) {
    font-family: 'Azeret Mono', monospace;
    @if $size == 12{
        font-size: 12px;
    }
    @else if $size == 16{
        font-size: 16px;
    }
    @else if $size == 24{
        font-size: 24px;
    }
}

@mixin tipo-title ($size) {
    font-family: 'Merienda One', cursive;
    @if $size == 12{
        font-size: 2.5em;
    }
}

@mixin tipo-sub ($size) {
    @if $size == 12{
        font-style: italic;
        font-family: 'Source Code Pro', monospace;
    }

}


// GERAL
body{
    background: $background;
    color: $font-color;
    @include tipo-texto(24);

    @media (max-width: 400px) {
        body{
            font-size: 16px;
        }
    }
}

header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

nav{
    background: $background;
}

.menu{
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a{
    /* background: red; */
    display: block;
    padding: 15px 15px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}

.menu li{
    list-style: none;
    text-decoration: none; 
}

a{
    color: $font-color;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through; 
}

.title,
.subitle{
    text-align: center;
}

.title{
    @include tipo-title(12);
}

.subitle{
    @include tipo-sub(12);
}

